<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking</title>
    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon" class="favicon">
</head>
<body>
    <h1>estas en pagking</h1>
    <p>Aaron</p>
</body>
</html>